.header {
  height: 400px;
  margin-top: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:end ;
  flex-direction: column;
  background-color: orange;
  background-image: url("../images/asfalt-light.png");
}
